<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Team Orders App</title>
  </head>
  <body>
    <a href="http://localhost:3000/orders/home">Home</a> | 
    <a href="http://localhost:3000/orders/order">Order</a> |
    <a href="http://localhost:3000/orders/confirm">Confirm</a> 
    <h1><%= yield(:title) %> </h1>
    <p>This is a simple applicaiton for collecting athletic team meal orders in one place</p>
    <p>The goal of the app is to help insure that student atheletes make timely orders 
    and get properly fed without stressing out coaches</p>
  </body>
</html>