<% provide(:title, "Order") %>
<!DOCTYPE html>
<html>
    <head>
        <title> <%= yield(:title) %> | Team Orders App </title>
    </head>
    <body>
        <a href="http://localhost:3000/orders/home">Home</a> |
        <a href="http://localhost:3000/orders/order">Order</a> |
        <a href="http://localhost:3000/orders/confirm">Confirm</a>
        <h1> <%= yield(:title) %> </h1>
        <p>Here is where you place your meal order</p>
    </body>
</html>
